body {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}
.button-wrapper {
  position: fixed;
  bottom: 32px;
  right: 150px;
}
.sheep {
  position: relative;
  z-index: -1;
  max-width: 50px;
  top: 55vh;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
}
.button {
  font-family: cursive;
  background-color: #f31c1cde;
  color: #fff;
  border-color: bisque;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes shake {
  5% {
    transform: translateX(12px) rotate(0.5deg);
  }
  10% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  15% {
    transform: translateX(12px) rotate(0.5deg);
  }
  20% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  25% {
    transform: translateX(12px) rotate(0.5deg);
  }
  30% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  35% {
    transform: translateX(12px) rotate(0.5deg);
  }
  40% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  45% {
    transform: translateX(12px) rotate(0.5deg);
  }
  50% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  55% {
    transform: translateX(12px) rotate(0.5deg);
  }
  60% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  65% {
    transform: translateX(12px) rotate(0.5deg);
  }
  70% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  75% {
    transform: translateX(12px) rotate(0.5deg);
  }
  80% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  85% {
    transform: translateX(12px) rotate(0.5deg);
  }
  90% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
  95% {
    transform: translateX(12px) rotate(0.5deg);
  }
  97.5% {
    transform: translateX(-12px) rotate(-0.5deg);
  }
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}
.marquee {
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: -1;
}
.shake {
  animation: shake 3s;
}

@keyframes topla1 {
  0% {
    transform: rotate(-2deg) translate3d(0px 250px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-120px, 250px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-120px, 250px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-120px, 250px, 0px);
  }
}
@keyframes topla2 {
  0% {
    transform: rotate(-2deg) translate3d(0px 380px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-200px, 340px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-240px, 340px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-260px, 380px, 0px);
  }
}
@keyframes topla3 {
  0% {
    transform: rotate(-2deg) translate3d(0px 320px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-190px, 300px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-200px, 300px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-210px, 320px, 0px);
  }
}
@keyframes topla4 {
  0% {
    transform: rotate(-2deg) translate3d(0px 200px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-100px, 160px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-100px, 200px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-100px, 200px, 0px);
  }
}
@keyframes topla5 {
  0% {
    transform: rotate(-2deg) translate3d(0px 250px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-200px, 220px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-370px, 200px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-400px, 250px, 0px);
  }
}
@keyframes topla6 {
  0% {
    transform: rotate(-2deg) translate3d(0px 310px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-300px, 280px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-350px, 250px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-430px, 310px, 0px);
  }
}
@keyframes topla7 {
  0% {
    transform: rotate(-2deg) translate3d(0px 200px, 0px);
  }
  50% {
    transform: rotate(-4deg) translate3d(-150px, 160px, 0px);
  }
  70% {
    transform: rotate(-2deg) translate3d(-240px, 230px, 0px);
  }
  100% {
    transform: rotate(0deg) translate3d(-260px, 290px, 0px);
  }
}
.apples {
  animation: topla1 1s timing-function delay iteration-count direction fill-mode;
}
